body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  padding: 100px 50px;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #22d3ee;
}

.hero p {
  margin: 20px 0;
  line-height: 1.6;
}

button {
  background: linear-gradient(90deg, #22d3ee, #14b8a6);
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/* STATS */
.stats {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.stats h3 {
  color: #22d3ee;
  margin: 0;
}

/* SECTION */
section {
  padding: 80px 50px;
}

h2 {
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 10px;
}

/* TAGS */
.tag {
  display: inline-block;
  background: #22d3ee;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 5px;
  color: black;
}

/* CONTACT */
.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.contact-text {
  text-align: center;
  margin-top: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}
